.cookies-policy-container {
    background: white;
    border-radius: 10px;
    max-width: 1100px;
    margin: auto;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    width: 100%;
    z-index: 1000;
}

.cookies-policy-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 15px 30px;
}
.cookies-img img{
    width: 60px;
}
.heading-content p {
    font-size: 15px;
    color: black;
}
.policy-group{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 7px 40px 22px 30px;
}
.policy-row {
    display: flex;
    justify-content: space-between;
}

.policy-text {
    width: 85%;
    line-height: 1.3;
}

.policy-text h2 {
    margin: 13px 0 5px 0;
    font-size: 22px;
    font-weight: 500;
}

.policy-text p {
    color: #333;
    font-size: 14px;
}

ul li {
    margin-left: 20px;
}

.list-heading {
    margin-bottom: 5px;
}

.switch {
    position: relative;
    width: 50px;
    height: 26px;
    margin-top: 33px;
}

input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    background-color: #e6e6e6;
    border-radius: 34px;
    transition: background-color 0.3s ease;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.knob {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: black;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.switch input:checked+.slider {
    background-color: black;
}

.switch input:checked+.slider .knob {
    transform: translateX(24px);
}

.switch input:not(:checked)+.slider .knob {
    color: #e6e6e6;
}
.cookies-policy-buttons{
    padding: 20px 20px 20px 30px;
    display: flex;
    gap: 20px;
}
.cookies-policy-buttons button{
    padding: 7px 40px;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.save{
    background-color: black;
    color: white;
    border: 1px solid black;
}
.close{
    background-color: inherit;
    border: 1px solid gray;
}

