.footer__image img {
    max-width: 100%;
    max-height: auto;
}

.footer {
    position: relative;
}

.footer__content {
    position: absolute;
    top: 5em;
    left: 8%;
    color: #fff;
}

.footer__content h1 {
    font-size: 3.8em;
    max-width: 450px;
    line-height: 100%;
    letter-spacing: 1px;
}

.footer__content p {
    font-size: 16px;
    max-width: 600px;
    font-weight: 300;
    margin-top: 30px;
    color: white;
}

.button__container {
    position: relative;
}

.button__container img {
    max-width: 40%;
    max-height: 80px;
    margin-top: 20px;
}

.button__container p {
    position: absolute;
    top: 12%;
    left: 12.5%;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.button__container i {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.button__container p:hover i {
    opacity: 1;
    transform: translateX(0);
}

.footer__container {
    position: absolute;
    top: 61%;
    left: 13%;
    color: #fff;
    display: flex;
    gap: 10%;
}

.footer-logo img {
    max-width: 200px;
    margin-bottom: 25px;
}

.footer-subcontainer1 {
    width: 25%;
}

.footer-icons {
    margin: 1em 0;
}

.footer-icons i {
    font-size: 1.1em;
    margin: 0px 1.3em 1.2em 0;
}

.language-box {
    margin-top: 1.2em;
    display: flex;
}

.language-box i {
    font-size: 1.1em;
    margin-right: 0.3em;
}

.language-box select {
    font-size: 0.92em;
    border: none;
    background-color: inherit;
    color: white;
    margin-bottom: 1em;
}


.footer-copyright p span {
   color: blue;
}

.footer__container p {
    margin-bottom: 10px;
    font-size: 0.93em;
}

.footer-copyright p {
    font-size: 0.7em;
    color: #aaa8a8;
    margin-top: 15px;
}

.footer__container .heading {
    color: #aaa8a8;
    margin-bottom: 25px;
}

.footer__container .heading Link {
    text-decoration: none;
}

.footer-subcontainer2 {
    display: flex;
}

.aboutcompany-container,
.opportunity-container,
.support-container {
    margin-bottom: 30px;
    margin-top: 5px;
    margin-right: 6.5em;
}

.footer__image {
    position: relative;
}

.app-container {
    position: absolute;
    bottom: 2%;
    left: 13%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app-container p {
    color: #aaa8a8;
}

.app__image__container {
    display: flex;
    gap: 20px;
}

.app__image__container img {
    width: 35%;
}

@media screen and (min-width: 1400px) {
    .footer__container {
        gap: 12%;
    }

    .aboutcompany-container,
    .opportunity-container,
    .support-container {
        margin-right: 9.5em;
    }

    .app-container {
        bottom: 5%;
    }

}