.header__container {
    margin: 30px auto;
    padding: 0 70px;
    display: flex;
    justify-content: center;
    gap: 29%;
    align-items: center;
}

.header__logo {
    width: 165px;
}

.menu__container a {
    text-decoration: none;
    color: black;
    padding: 0.8em;
    font-weight: bold;
    letter-spacing: 0.5px;
}